<template>
    <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="50px">
      <div id="create-list-container">
        <el-form-item label="Nome" prop="name">
          <el-input v-model="ruleForm.name" tabindex="1" placeholder="Digite o nome da lista"></el-input>
        </el-form-item>
    
        <el-form-item label="Descrição" prop="description">
          <el-input type="textarea" v-model="description" tabindex="2" placeholder="Digite uma descrição"></el-input>
        </el-form-item>
    
        <el-form-item label="Sub Listas">
          <el-button id="add_sub_list" tabindex="3" @click="addSubList"  icon="el-icon-plus" circle></el-button>
        </el-form-item>
    
        <el-form-item
          v-for="(sub_list, index) in ruleForm.sub_lists"
          :label="`${index + 1}`"
          :key="sub_list.key"
          :prop="'sub_lists.' + index + '.title'"
          :rules="{
            required: true, message: 'O nome da sub lista não pode ficar vazio', trigger: 'blur'
          }"
        >
          <div class="removable-input-container">
            <el-input v-model="sub_list.title" tabindex="4" class="new-task-field textfield" placeholder="Digite o nome da sub lista"></el-input>
            <el-button @click="removeSubListInput(sub_list)" type="danger" icon="el-icon-delete" circle></el-button>
          </div>
        </el-form-item>
    
        <el-form-item label="Repetir">
          <el-select
            tabindex="5"
            v-model="repeatDays"
            multiple
            default-first-option
            placeholder="Choose tags for your article">
            <el-option
              v-for="item in AllDays"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
    
        <el-form-item label="Prazo">
          <el-date-picker
            v-model="deadline"
            type="date"
            placeholder="Pick a day"
            format="dd/MM/yyyy">
          </el-date-picker>
        </el-form-item>
    
        <div id="footer-list">
          <el-button @click="handleSubmitForm('ruleForm')" tabindex="4" type="success">Salvar</el-button>
        </div>
      </div>
    </el-form>
  </template>