#general_content
  margin-top: 4em

#header
  background-color: #1e90ff
  color: white
  text-align: left
  height: 50px
  vertical-align: middle
  position: fixed
  width: 100%
  top: 0
  z-index: 1

#links_header
  position: relative
  > .title
    font-size: 17px
    margin: 0
    padding: .9em
    display: inline-block

  > #bottom
    border-radius: 0.1em
    position: absolute
    bottom: 0
    border-bottom: 5px solid #ffe080
    width: 6%
    left: 0
    transition: left .3s, width .3s