#create-list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 30em;
  padding: 0 1em;
  height: 80vh;
}

#add_sub_list {
  font-size: 1.4em;
  vertical-align: middle;
  padding-bottom: 0;
}

.remove-button {
  color: red;
  font-size: 1.4em;
  vertical-align: middle;
}