<div
  [class.last-card-child]="lastCard"
  class="card draggable"
  [ngStyle]="stylesCard"
  (touchstart)="handleTouchStartCard($event)"
  (touchmove)="handleTouchMoveCard($event)"
  (touchend)="handleTouchEndCard($event.currentTarget, $event)"
  (touchcancel)="handleTouchCancelCard()"
>

  <div class="card-header">
    <div class="card-label">
      <span class="label-text -warning">
        Important
      </span>
    </div>

    <card-info-button [currentClickedCardId]="currentClickedCardId"></card-info-button>

    <div class="card-title">{{ title }}</div>
  </div>

  <div class="card-extras">
    <div class="badges">
      <div class="tasks-count">
        <span>1/5</span>
      </div>

      <div class="deadline">
        <span>Feb 8</span>
      </div>
    </div>

    <div class="responsibles">
      <img src="https://trello-members.s3.amazonaws.com/55fb743a0650b7fa2d6cafe9/8c93e6bf09db8449ff1f5e0975c1cb8d/30.png" alt="">
    </div>
  </div>
</div>
