<section class="modal" *ngIf="isToShowModal$ | async" [@showHide]="'show'">
  <div class="modal-wrapper">
    <div class="modal-header">
      <span
        *ngIf="!editingTitle && !editingDescription"
        aria-role="button"
        (click)="closeModalHandler()"
        class="ta-close-strong"
      ></span>

      <div class="edit-controls" *ngIf="editingTitle || editingDescription">
        <span (click)="closeEdit()" aria-role="button" class="ta-reload"></span>
        <span (click)="saveChange()" aria-role="button" class="ta-floppy-o"></span>
      </div>
    </div>

    <span class="card-title">
      <textarea
        class="card-textarea white"
        (focus)="editingTitle = true"
        placeholder="Write a name for card..."
        [(ngModel)]="card.name"
      >
      </textarea>
    </span>

    <div class="card-description">
      <textarea
        (focus)="editingDescription = true"
        class="card-textarea black"
        placeholder="Write a description for card..."
        [(ngModel)]="card.description">
      </textarea>
    </div>

    <div class="card-extras">
      <div>
        <span aria-role="button" class="ta-tag"></span>
        <span class="extras-text">Labels</span>
      </div>

      <div>
        <span aria-role="button" class="ta-man-people-streamline-user"></span>
        <span class="extras-text">Members</span>
      </div>
      
      <div>
        <span aria-role="button" class="ta-calendar"></span>
        <span class="extras-text">Due Date</span>
      </div>

      <div>
        <span aria-role="button" class="ta-check-icon"></span>
        <span class="extras-text">Checklist</span>
      </div>

      <div>
        <span aria-role="button" class="ta-document-icon"></span>
        <span (click)="handleAttachmentClick(inputImageUpload)" class="extras-text">Attachment</span>
      </div>

      <div style="display: none;">
        <input type="file" #inputImageUpload (change)="handleSelectNewImage($event)">
      </div>
    </div>

    <div class="attachments-container">
      <div class="attachments-header">
        <span>Attachments</span>
      </div>

      <div class="attachments-list">
        <div
          class="image-container"
          *ngFor="let imageUrl of card.urlImages; let imageIndex = index"
          (click)="handleExpandImage(imageIndex, $event)"
          [ngStyle]="imageIndex === imageClickedIndex ? styleImageObject : {}"
        >

          <img class="image" [src]="imageUrl">

          <span class="image-actions">
            <i
              aria-role="button"
              class="ta-trash-icon delete"
              (click)="handleRemoveImage($event, imageUrl)"
            ></i>
          </span>
        </div>

        <div
          *ngIf="!uploadDone"
          class="upload-progress-load"
          [class.visible]="uploadStart"
          [class.no-visible]="!uploadStart"
        >

          <span class="percentage">
            {{ 12 }}%
          </span>

          <img class="local-image" [src]="currentLocalImage" />
        </div>
      </div>
    </div>

    <div
      [@showHideShadow]="'show'"
      *ngIf="imageIsTransformed"
      class="full-background-shadow"
      (click)="closeFullBackgroundShadow()"
    >
      <i class="la-close-icon closebackground"></i>
    </div>
  </div>
</section>
