<div class="list-wrapper" #text>
  <div class="list-container"
    [ngClass]="{ smooth: isSmoothed$ | async }"
    [cssProps]="{
      '--listsCount': listCount$ | async,
      '--currentList': currentListNumber$ | async,
      '--scrolledPageSize': scrolledPageSize$ | async,
      '--factor': factor$ | async
    }"
  >
    <div
      #list
      class="list"
      *ngFor="let subList of subLists$ | async; trackBy: trackElement"
      (scroll)="handleScrollEventChange(list.scrollTop)"
      (touchstart)="handleTouchStartList($event)"
      (touchmove)="handleTouchMoveList($event)"
      (touchcancel)="handleTouchCancelList($event)"
      (touchend)="handleTouchEndList($event, list.offsetWidth)"
      [id]="subList.id">

      <div class="list-title">{{ subList.title }}</div>

      <create-new-card></create-new-card>
      
      <card-sub-list
        #cards
        [originalSublistParentId]="subList.id"
        [title]="card.name"
        [placeHolderCardTemplate]="placeHolderCardTemplate"
        [currentClickedCardId]="card.id"
        [lastCard]="last"
        *ngFor="let card of subList.cards; trackBy: trackElement; let last = last;"></card-sub-list>

      <div
        [class.none]="subList.cards.length"
        [class.block]="!subList.cards.length"
        class="default-placeholder-card">
      </div>

      <create-new-card-button
        [subListId]="subList.id"
      ></create-new-card-button>
    </div>
  </div>

  <!-- <create-new-card-modal :dialogVisible="dialogVisible"
    :subListId="currentSubListId"
    @change-dialog-visible-value="handleChangeDialogVisibleValue"
    @put-new-card-to-sub-list="putNewCardToSubList"
  ></create-new-card-modal>

  <card-info-modal></card-info-modal> -->

  <!-- <create-new-card-modal
    (closeModal)="showNewCardModal = false"
    *ngIf="showNewCardModal">
  </create-new-card-modal> -->
</div>
