<div class="list-wrapper">
  <div class="list-container"
    [ngClass]="{ smooth: isSmoothed$ | async }"
    [cssProps]="{
      '--listsCount': listCount,
      '--currentList': currentListNumber,
      '--scrolledPageSize': scrolledPageSize,
      '--factor': factor
    }"
  >
    <div
      #list
      class="list"
      *ngFor="let subList of subLists"
      (scroll)="handleScrollEventChange()"
      (touchstart)="handleTouchStartList($event)"
      (touchmove)="handleTouchMoveList($event)"
      (touchcancel)="handleTouchCancelList($event)"
      (touchend)="handleTouchEndList($event, list.offsetWidth)"
      [id]="subList.id">

      <div class="list-title">{{ subList.title }}</div>

      <card-sub-list
        :originalSublistParentId="subList.id"
        :listCount="listCount"
        :title="card.name"
        :currentList="currentListNumber"
        :placeHolderCardTemplate="placeHolderCardTemplate"
        :currentClickedCardId="card.id"
        *ngFor="let card of subList.cards"></card-sub-list>

      <div
        [class.none]="subList.cards.length"
        [class.block]="!subList.cards.length"
        class="default-placeholder-card">
      </div>

      <!-- <create-new-card-button
        :subListId="subList.id"
        @change-dialog-visible-value="handleChangeDialogVisibleValue"
        @change-current-sub-list-id-value="handleChangeCurrentSubListIdValue"
      ></create-new-card-button> -->
    </div>
  </div>

  <!-- <create-new-card-modal :dialogVisible="dialogVisible"
    :subListId="currentSubListId"
    @change-dialog-visible-value="handleChangeDialogVisibleValue"
    @put-new-card-to-sub-list="putNewCardToSubList"
  ></create-new-card-modal>

  <card-info-modal></card-info-modal> -->
</div>